@font-face {
    font-family: 'Archivo Narrow Regular';
    src: url('../assets/fonts/ArchivoNarrow-Regular.woff2') format('woff2'),
        url('../assets/fonts/ArchivoNarrow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Narrow Bold';
    src: url('../assets/fonts/ArchivoNarrow-Bold.woff2') format('woff2'),
        url('../assets/fonts/ArchivoNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Happy Monkey';
    src: url('../assets/fonts/HappyMonkey-Regular.woff2') format('woff2'),
        url('../assets/fonts/HappyMonkey-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}