* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100dvh;
}

body{
    display: flex;
    flex-direction: column;
}

.site-header,
.main-site-content,
.site-footer {
    border: 1px solid black;
}

.site-header {
    flex: 7%;
    display: flex;
    align-items: center;

    h1 {
        margin-right: auto;
    }
}

.site-logo {
    img {
        width: 4rem;
    }
}

.main-site-content{
    flex: 86%;
}

.site-footer{
    flex: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}